In [71]:
# import package
from datetime import datetime as dtime
from datetime import date,timedelta
from urllib.request import urlopen
import requests
from dateutil import rrule
import matplotlib.pyplot as plt
from datetime import datetime
import pandas as pd
import numpy as np
import json
import time
import os
from Tools import *

In [90]:
#轉換日期民國到西元
def date_convert(strDate):
    arydate = strDate.split("/")
    return date(int(arydate[0]) + 1911, int(arydate[1]), int(arydate[2])).strftime('%Y/%m/%d')

In [73]:
#讀取INI檔案
InitFile = IniTool()

Load init file: .\Initialization.ini

In [74]:
DataPath = InitFile.Read('Infomation', 'DataPath')
Code = InitFile.Read('Infomation', 'StockCode')
Date = InitFile.Read('Infomation', 'StartDate')

In [75]:
print(Code)
print(Date)
print(DataPath)

2303
2020-01-01
./Data/

In [76]:
fullpath = DataPath + Code + '.csv'
print(fullpath)

./Data/2303.csv

In [85]:
df = pd.read_csv(fullpath)
df

,Unnamed: 0,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0,109/01/02,"32,937,461","544,863,192",16.45,16.65,16.40,16.55,+0.10,"5,382"
1,1,109/01/03,"48,588,354","792,990,409",16.55,16.55,16.15,16.30,-0.25,"9,541"
2,2,109/01/06,"44,790,472","719,002,202",16.05,16.15,15.95,16.05,-0.25,"5,041"
3,3,109/01/07,"39,718,117","633,334,895",16.05,16.15,15.80,16.00,-0.05,"7,401"
4,4,109/01/08,"60,494,690","954,618,728",15.85,15.90,15.65,15.75,-0.25,"9,368"
...,...,...,...,...,...,...,...,...,...,...
228,228,109/12/09,"321,064,214","15,950,783,936",49.10,50.20,49.10,49.90,-1.00,"105,914"
229,229,109/12/10,"460,980,326","22,003,933,802",48.60,48.90,46.70,47.30,-2.60,"162,363"
230,230,109/12/11,"390,831,102","18,150,209,771",47.45,48.35,45.20,46.10,-1.20,"120,021"
231,231,109/12/14,"233,249,964","10,680,175,679",46.10,46.85,44.60,46.15,+0.05,"74,436"
232,232,109/12/15,"275,779,367","12,393,354,215",46.10,46.55,44.00,44.00,-2.15,"82,136"

In [86]:
#印出當下型態
df.dtypes

Unnamed: 0      int64
日期             object
成交股數           object
成交金額           object
開盤價           float64
最高價           float64
最低價           float64
收盤價           float64
漲跌價差           object
成交筆數           object
dtype: object

In [87]:
#轉換型態.
df['成交筆數'] = df['成交筆數'].str.replace(',','').astype(float)
df['成交股數'] = df['成交股數'].str.replace(',','').astype(float)
df['成交金額'] = df['成交金額'].str.replace(',','').astype(float)

In [88]:
df.loc[df['成交筆數'] > 20000]

,Unnamed: 0,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
48,48,109/03/20,158070287.0,2.209400e+09,13.80,14.40,13.80,13.85,+0.15,21336.0
70,70,109/04/23,157791012.0,2.480412e+09,15.45,16.00,15.40,15.80,+0.60,24322.0
73,73,109/04/28,219150807.0,3.312193e+09,15.50,15.60,14.75,15.00,-1.15,41197.0
101,101,109/06/08,124631598.0,2.135847e+09,17.50,17.50,16.85,17.05,+0.55,23222.0
130,130,109/07/21,210085722.0,3.605573e+09,16.75,17.50,16.70,17.15,+0.60,36991.0
...,...,...,...,...,...,...,...,...,...,...
228,228,109/12/09,321064214.0,1.595078e+10,49.10,50.20,49.10,49.90,-1.00,105914.0
229,229,109/12/10,460980326.0,2.200393e+10,48.60,48.90,46.70,47.30,-2.60,162363.0
230,230,109/12/11,390831102.0,1.815021e+10,47.45,48.35,45.20,46.10,-1.20,120021.0
231,231,109/12/14,233249964.0,1.068018e+10,46.10,46.85,44.60,46.15,+0.05,74436.0
232,232,109/12/15,275779367.0,1.239335e+10,46.10,46.55,44.00,44.00,-2.15,82136.0

In [89]:
# df.dtypes
if df['成交筆數'].dtype == 'float64':
    print('Yes')

Yes

In [82]:
# df['日期'] = df['日期'].str.replace('/','-')

In [92]:
#轉換日期民國到西元.
df['日期'] = [date_convert(x) for x in df['日期']]
df

,Unnamed: 0,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0,2020/01/02,32937461.0,5.448632e+08,16.45,16.65,16.40,16.55,+0.10,5382.0
1,1,2020/01/03,48588354.0,7.929904e+08,16.55,16.55,16.15,16.30,-0.25,9541.0
2,2,2020/01/06,44790472.0,7.190022e+08,16.05,16.15,15.95,16.05,-0.25,5041.0
3,3,2020/01/07,39718117.0,6.333349e+08,16.05,16.15,15.80,16.00,-0.05,7401.0
4,4,2020/01/08,60494690.0,9.546187e+08,15.85,15.90,15.65,15.75,-0.25,9368.0
...,...,...,...,...,...,...,...,...,...,...
228,228,2020/12/09,321064214.0,1.595078e+10,49.10,50.20,49.10,49.90,-1.00,105914.0
229,229,2020/12/10,460980326.0,2.200393e+10,48.60,48.90,46.70,47.30,-2.60,162363.0
230,230,2020/12/11,390831102.0,1.815021e+10,47.45,48.35,45.20,46.10,-1.20,120021.0
231,231,2020/12/14,233249964.0,1.068018e+10,46.10,46.85,44.60,46.15,+0.05,74436.0
232,232,2020/12/15,275779367.0,1.239335e+10,46.10,46.55,44.00,44.00,-2.15,82136.0

In [95]:
df['日期']

0      2020/01/02
1      2020/01/03
2      2020/01/06
3      2020/01/07
4      2020/01/08
          ...
228    2020/12/09
229    2020/12/10
230    2020/12/11
231    2020/12/14
232    2020/12/15
Name: 日期, Length: 233, dtype: object